<h1 class="mt-4" style="text-transform:uppercase"><%= msg %></h1>

<a href="/" class="btn btn-info" style="margin:10px;"><i class="fas fa-home"></i></a>

<a href="/posts" class="btn btn-info" style="margin:10px;">Données personnelles</a>

<a href="/getAllUsers" class="btn btn-info" style="margin:10px;">Données Utilisateurs</a>

<a href="/connexion/logoutAdmin" class="btn btn-info" style="margin:10px;"><i class="fas fa-unlock-alt"></i>&nbsp;&nbsp;Se déconnecter</a>
