<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3" style="color:#336699;">CONNEXION</h1>
    
        <form action="/connexion/homepage" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Mot de passe</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              required
            />
          </div>
          <br />
          <button type="submit" class="btn btn-info btn-block"><i class="fas fa-sign-in-alt"></i>&nbsp;&nbsp;Se connecter</button>
        </form>
      </div>
    </div>
  </div>
  